<h3 dir="rtl" >        اطلاعات تماس:</h3>
<p dir="rtl">  ادرس دفتر:           مشهد، بلوارمدرس (دروازه طلایی) ،نبش مدرس ۸،ساختمان مدر س، طبقه چهارم واحد ۴  <br>
تلفن: ۰۵۱۱۲۲۵۶۴۷۳  
<br>تلفاکس: ۰۵۱۱۲۲۵۱۵۶۰ 
<br>همراه: ۰۹۱۵۳۱۳۹۸۲۲   </p>