
<div class="col">
      <h3 dir = "rtl">اطلاعات تماس:</h3>
      <p dir = "rtl">نحوه ارتباط</p>
      <a class = "link" <%= link_to "اطلاعات بیشتر",    contact_path %> 
       </div>
       
    <div class="col">
      <h3 dir = "rtl">امور دانشگاهی:</h3>
      <p dir = "rtl"> معرفی سر فصل دروس،منابع درسی و نمونه سوالات</p>
      <a class = "link" <%= link_to "اطلاعات بیشتر",    university_path %> </a></div>
    <div class="col last">
      <h3 dir = "rtl">امور وکالتی:</h3>
      <p dir = "rtl">دعاوی ملکی</p>
       <a class = "link" <%= link_to "اطلاعات بیشتر",    law_path %> </a> </div>
    <div class="clr"></div>
  </div>
    <div class="clr"></div>
  </div>

