
<div class="col">
      <h2 dir = "rtl">اطلاعات تماس:</h2>
      <p dir = "rtl">نحوه ارتباط</p>
      <a class = "link" <%= link_to "اطلاعات بیشتر",    contact_path %> 
       </div>
       
    <div class="col">
      <h2 dir = "rtl">امور دانشگاهی:</h2>
      <p dir = "rtl"> معرفی سر فصل دروس،منابع درسی و نمونه سوالات</p>
      <a class = "link" <%= link_to "اطلاعات بیشتر",    university_path %> </a></div>
    <div class="col last">
      <h2 dir = "rtl">امور وکالتی:</h2>
      <p dir = "rtl">دعاوی ملکی</p>
       <a class = "link" <%= link_to "اطلاعات بیشتر",    law_path %> </a> </div>
    <div class="clr"></div>
  </div>
  <div id="main">
    <div class="col">
      <h3>Latest Articles</h3>
      <div class="article">
        <p class="date">March, 2010</p>
        <h4><a href="#">Truck Accident Lawyers</a></h4>
        <p class="short">Quisque scelerisque purus quis eros sollicitudin gravida. Aliquam erat volutpat. Donec a sem consequat. <a href="#">&raquo;</a></p>
      </div>
      <div class="article">
        <p class="date">February, 2010</p>
        <h4><a href="#">Car Accident Lawyers</a></h4>
        <p class="short">Quisque scelerisque purus quis eros sollicitudin gravida. Aliquam erat volutpat. Donec a sem consequat. <a href="#">&raquo;</a></p>
      </div>
      <div class="article">
        <p class="date">January, 2010</p>
        <h4><a href="#">Car Accident Attorneys</a></h4>
        <p class="short">Quisque scelerisque purus quis eros sollicitudin gravida. Aliquam erat volutpat. Donec a sem consequat. <a href="#">&raquo;</a></p>
      </div>
    </div>
    <div class="col">
      <h3>External Resources</h3>
      <div class="article">
        <p class="date">March, 2010</p>
        <h4><a href="#">Truck Accident Attorneys</a></h4>
        <p class="short">Quisque scelerisque purus quis eros sollicitudin gravida. Aliquam erat volutpat. Donec a sem consequat. <a href="#">&raquo;</a></p>
      </div>
      <div class="article">
        <p class="date">February, 2010</p>
        <h4><a href="#">Law Firm Marketing</a></h4>
        <p class="short">Quisque scelerisque purus quis eros sollicitudin gravida. Aliquam erat volutpat. Donec a sem consequat. <a href="#">&raquo;</a></p>
      </div>
      <div class="article">
        <p class="date">January, 2010</p>
        <h4><a href="#">Nunc pellentesque a porta lacus</a></h4>
        <p class="short">Quisque scelerisque purus quis eros sollicitudin gravida. Aliquam erat volutpat. Donec a sem consequat. <a href="#">&raquo;</a></p>
      </div>
    </div>
    <div class="col last">
      <h3>Verdicts and Settlements</h3>
      <div class="case"> <img src="images/thumb.gif" alt="" />
        <p><a href="#">Donec arcu, convallis at pharetra</a><br />
          Nunc in neque sem, a porta lacus. Pellentesque habitant morbi tristique senectus et netus et </p>
      </div>
      <div class="case"> <img src="images/thumb.gif" alt="" />
        <p><a href="#">Quisque quis laoreet tristique</a><br />
          Nunc in neque sem, a porta lacus. Pellentesque habitant morbi tristique senectus et netus et </p>
      </div>
      <div class="case"> <img src="images/thumb.gif" alt="" />
        <p><a href="#">Nunc pellentesque a porta lacus</a><br />
          Nunc in neque sem, a porta lacus. Pellentesque habitant morbi tristique senectus et netus et </p>
      </div>
      <div class="case"> <img src="images/thumb.gif" alt="" />
        <p><a href="#">Nunc pellentesque a porta lacus</a><br />
          Nunc in neque sem, a porta lacus. Pellentesque habitant morbi tristique senectus et netus et </p>
      </div>
    </div>
    <div class="clr"></div>
  </div>

