<h3 dir="rtl" >دعاوی ملکی:</h3> 
<p dir="rtl">
 
الزام به تنظیم سند  رسمی عرصه واعیان املاک مسکونی.<br>
الزام به تتظیم سند رسمی ( سر قفلی )اجاره املاک تجاری.<br>
الزام به تنظیم سند رسمی عرصه اعیان ومنافع املاک تجاری.<br>
دعاوی مربوط به اسناد اجاره صادره از سوی موقوفات عام و خاص.<br>
دعاوی خلع ید رفع مزاحمت و رفع ممانعت از حق و رفع تصرف عدوانی املاک.<br>
دعاوی مربوط به تخلیه املاک مسکونی و تجاری.<br>
تعدیل اجاره بهای املاک تجاری و وصول اجاره بهای معوقه املاک.<br>
تجویز انتقال منافع املاک تجاری.<br>
افراز یا فروش املاک مشاع.<br>
دعاوی علیه شهرداریها در دادگستری و دیوان عدالت اداری.<br>
دعاوی مربوط به اراضی ملی علیه اداره منابع طبیعی و سازمان مسکن و شهرسازی.<br>
</p>
