<h3 dir="rtl" >دعاوی ملکی:</h3> 
<p dir="rtl">
 
۱- الزام به تنظیم سند  رسمی عرصه واعیان املاک مسکونی.<br>
۲- الزام به تتظیم سند رسمی ( سر قفلی )اجاره املاک تجاری.<br>
۳- الزام به تنظیم سند رسمی عرصه اعیان ومنافع املاک تجاری.<br>
۴- دعاوی مربوط به اسناد اجاره صادره از سوی موقوفات عام و خاص.<br>
۵- دعاوی خلع ید رفع مزاحمت و رفع ممانعت از حق و رفع تصرف عدوانی املاک.<br>
۶- دعاوی مربوط به تخلیه املاک مسکونی و تجاری.<br>
۷-  تعدیل اجاره بهای املاک تجاری و وصول اجاره بهای معوقه املاک.<br>
۸- تجویز انتقال منافع املاک تجاری.<br>
۹- افراز یا فروش املاک مشاع.<br>
۱۰- دعاوی علیه شهرداریها در دادگستری و دیوان عدالت اداری.<br>
۱۱- دعاوی مربوط به اراضی ملی علیه اداره منابع طبیعی و سازمان مسکن و شهرسازی.<br>
</p>
