<h3 dir="rtl" >دعاوی ملکی:</h3> 
<p dir="rtl">
 
۱- اثبات عقود ناقله و الزام به تنظیم سند  رسمی عرصه واعیان املاک مسکونی.<br>
۲- الزام به تنظیم سند رسمی عرصه،اعیان ومنافع(سرقفلی) املاک تجاری.<br>
۳- دعاوی مربوط به اسناد اجاره صادره از سوی موقوفات عام و خاص اعم از تجدید اجاره و تحویل ملک.<br>
۴- دعاوی خلع ید ،رفع مزاحمت ،رفع ممانعت از حق و رفع تصرف عدوانی املاک.<br>
۵- دعاوی مربوط به تخلیه املاک مسکونی و تجاری.<br>
۶-  تعدیل اجاره بهای املاک تجاری و وصول اجاره بهای معوقه املاک.<br>
۷- تجویز انتقال منافع املاک تجاری.<br>
۸- افراز یا فروش املاک مشاع.<br>
۹- دعاوی علیه سازمانهای دولتی (اعم از شهرداری، منابع طبیعی ،سازمان مسکن و شهرسازی و ...) در دادگستری و دیوان عدالت اداری.<br>
۱۰- تقسیم یا فروش اموال مشاعی بین ورثه.
</p>
