<p dir = "rtl">تعداد واحد:۳ <br>
نوع واحد: نظری <br>
<strong>پیش نیاز : حقوق اساسی ۱</strong> <br>
ساعات درس: ۴۸ ساعت <br>
هدف: آشنا ساختن دانشجویان با تاریخ و مبانی حقوق اساسی ایران، آموزش مبانی فکری و عقیدتی تدوین قانون اساسی جمهوری اسلامی ایران و همچنین تدریس این قانون و مصوبات موجود کشور در ارتباط با حقوق اساسی و بالاخره عملکردهای نهادهای سیاسی و حقوقی جمهوری اسلامی .
<br>
<h3 dir = "rtl">سرفصل دروس: <br>
بخش اول: تاریخچه و مبانی حقوق اساسی ایران </h3>
<p dir = "rtl">۱- خطوط کلی قوانین اساسی ۱۲۸۵ و ۱۲۸۶ <br>
۲- نظریات تحلیلی و نقادانه از قوانین گذشته <br>
<h3 dir = "rtl">بخش دوم: مبانی اعتقادی درتدوین قانون اساسی جمهوری اسلامی ایران</h3>
<p dir = "rtl">۱- مبانی اعتقادی اسلامی <br>
۲- مسئله ولایت فقیه وتبدیل این اصل به نهادهای سیاسی موجود  <br>
۳- مسئله نظام اقتصادی (مالکیت ، اموال عمومی، تعاون، بیمه های و نظایر آن) <br>
۴-رهبر، رئیس جمهور، ، هیأت وزیران، مجلس شورای اسلامی، شورای نگهبان، دیوان عدالت اداری، دادگاهها و نهادهای دیگر مندرج در قانون اساسی <br>
۵- چگونگی تفکیک قوا، نحوه ارتباط بین سه قوه، نحوه مدیریت بنیانی نهادها <br>
۶- در ضمن به بررسی مقایسه ای از رژیم گذشته از حیث حقوقی و تفاهم اشتراک و افتراق این رژیم با سایر رژیمهای حقوقی سایر کشورهای پرداخته خواهد شد. <br>
