<p dir = "rtl">تعداد واحد :۲ <br>
نوع واحد: نظری <br>
<strong>پیش نیاز: ندارد</strong> <br>
ساعات درس: ۳۲ ساعت <br>
هدف : آشنا ساختن دانشجویان با تاریخ تحولات و مبانی حقوق اساسی و همچنین شناساندن مفاهیم دولت، حکومت، رژیم های سیاسی و ارتباط بین قوای مقننه، مجریه و قضاییه . <br>
<h3 dir = "rtl">سرفصل دروس: </h3>
<h3 dir = "rtl">بخش اول: تاریخ تحولات و مبانی حقوق اساسی </h3>
<p dir = "rtl">۱- حقوق اساسی چیست؟       <br>       	۲-  تعریف <br>
۳- تطور			<br>		۴- موضع حقوق اساسی در میان سایر رشته های حقوق عمومی <br>
۵- رابطه حقوق اساسی با سایر رشته های نظیر فلسفه ،تاریخ ،جامعه شناسی و نظایر آنها <br>
۶- منابع و روش ها <br>
<h3 dir = "rtl">بخش دوم: دولت </h3>
<p dir = "rtl">۱- تعریف و مفاهیم دولت	<br>		۲- نظریات فلسفی درباره دولت <br>
۳- نظریات حقوقی مختلف از نویان تا حال حاضر درباره دولت <br>
۴- نظریات اسلامی درباره مفهوم ملت، امت ،کشور ، سرزمین ،دولت و عوامل تشکیل دهنده حاکمیت و مقایسه با دیگر نظریات <br>
<h3 dir = "rtl">بخش سوم: رژیم های سیاسی </h3>
<p dir = "rtl">۱- بررسیهای پایه ای    	<br>		۲- نظریات مجموعی <br>
۳- طبقه بندی انواع نظریات اصحاب رأی و فن، ذکر مثال از کشورهای مختلف <br>
<h3 dir = "rtl">بخش چهارم: حکومت </h3>
<p dir = "rtl">۱- تعریف حکومت <br>
۲- قوه مقننه، قوه مجریه( هیأت دولت، رییس مملکت، کارکنان دولت) و قوه قضائیه در ارتباط با بنیان های حکومتی  <br>
<h3 dir = "rtl">بخش پنجم:  نظامهای بزرگ حقوق اساسی  </h3>
<p dir = "rtl">۱-  نظامهای بزرگ حقوق اساسی کشورهای با دموکراسی لیبرال <br>
۲- کشورهای اقتدارگر، نظامهای فاشیستی، نظامهای سوسیالیستی و تقسیمات درونی هر کدام  <br>
۳- حقوق و آزادیهای فردی، حقوق متقابل فرد و دولت از جمله با توجه به دیدگاه اسلام.