<p dir = "rtl">تعداد واحد: ۲ <br>
نوع واحد: نظری <br>
<strong>پیش نیاز : ندارد </strong> <br>
ساعات درس: ۳۲ ساعت <br>
هدف: آشنا ساختن دانشجویان با مفاهیم کلی حقوق اداری <br></p>
<h3 dir = "rtl">سرفصل دروس: </h3>
<h3 dir = "rtl">بخش اول: کلیات </h3>
<p dir="rtl">۱- تعریف اداره <br>
۲- جایگاه حقوق اداری <br>
<h3 dir = "rtl">بخش دوم: </h3>
<p dir = "rtl">۱-  مبانی حقوق اداری( نظریه خدمات عمومی ، منافع عمومی، قدرت عمومی) <br>
۲- منابع حقوق اداری (قانون، آیین نامه، رویه قضائی، اندیشه های حقوقی) <br>
۳- اشخاص حقوقی ( اشخاص حقوق عمومی، اشخاص حقوق خصوصی و وجوه تمایز آنها) <br>
۴- اصول حاکم بر سازمانهای اداری (تمرکز و عدم تمرکز اداری)<br>
۵- نظارت در حقوق اداری<br>
۶- مقامات مرکزی (رهبر، رییس جمهور، معاونین رئیس جمهور، وزراء)<br>
۷- سلسله مراتب اداری<br>
۸- سازمانهای مرکزی (وزارتخانه ها، نهادها و...)<br>
۹- تقسیمات کشوری<br>
۱۰- سازمانهای اداری غیرمتمرکز(شوراها...)<br>
۱۱- سازمانهای اداری مستقل (مؤسسات عمومی ، خیریه، حرفه ای...)<br>
۱۲- بازرسی کل کشور<br>
۱۳- دیوان عدالت اداری (تشکیلات، صلاحیت ، حدود و اختیارات ، نحوه رسیدگی...) </p>