
<p dir= "rtl">تعداد واحد:۲ <br>
نوع واحد: نظری <br>

<strong>پیش نیاز: حقوق اداری ۱</strong> <br>
ساعات درس: ۳۲ ساعت <br>
هدف: آشنا ساختن دانشجویان با استخدام کشوری در جمهوری اسلامی ایران، حقوق و تکالیف مأموران دولتی، مقررات استخدامی خاص و قراردادهای اداری <br>
<h3 dir = "rtl">سرفصل دروس: </h3>
<h3 dir = "rtl">بخش اول: استخدام کشوری </h3>
<p dir= "rtl">۱- مفاهیم و تعاریف استخدام عمومی <br>
۲- ترکیب مأموران به خدمات عمومی و ماهیت استخدام<br>
۳- مسایل عمومی استخدام<br>
۴- تشکیلات استخدام در جمهوری اسلامی ایران<br>
۵- طبقات شغلی<br>
۶- ورود و خروج از خدمات دولتی<br>
۷- حقوق و مزایای مستخدمین دولتی<br>
۸- تکالیف مستخدمین دولتی<br>
۹- مقررات استخدامی خاص(شهرداری ، وزرات امور خارجه...)<br>
۱۰- قراردادهای اداری<br> </p>
