<p dir = "rtl">تعداد واحد:۲	 <br>						
<strong>پیش نیاز : حقوق جزای عمومی ۲ </strong> <br>
ساعات درس: ۳۲ ساعت <br>
هدف: آشنا ساختن دانشجویان با حقوق و مقررات کار که تنظیم کننده روابط بین کارگران و کارفرمایان کشور است .<br>

<h3 dir = "rtl">سرفصل دروس <br><br>
بخش اول: کلیات </h3> 
<p dir = "rtl">۱- بررسی تحول روابط کار قبل از انقلاب صنعتی و پس از آن و مطالعه علل وضع قوانین کار <br>
۲- دیدگاه مکاتب مختلف درباره کار <br>
۳- کار و ارزش آن از نظر حقوق اسلامی (انواع کار و احکام آن، حقوق و امتیازات کارگر) <br>
۴- تعریف و مشخصات حقوق کار <br>
<h3 dir = "rtl">بخش دوم: منابع </h3>
<p dir = "rtl">۱-  منابع حقوق کار <br>
۲- قرارداد کار(تحول تاریخی و نقش فعلی آن، وجوه تمایز آن از سایر قراردادها، شرایط اساسی انعقاد آن، بطلان، تجدیدنظرو تعلیق آن، انحلال آن و مسایل مربوط به اخراج کارگر) <br>
<h3 dir = "rtl">بخش سوم: حقوق و تعهدات کارگر </h3>
<p dir = "rtl">۱-  ساعات کار ، تعطیلات و مرخصی سالیانه	 <br>	۲- شرایط کار زنان <br>
۳- شرایط کار نوجوانان <br>
۴-مزد (مفهوم آن، روشهای تعیین مزد و عوامل موثر در آن، طبقه بندی مشاغل به نظام حقوقی کار) <br>
۵- تعهدات کارگر <br>
<h3 dir = "rtl">بخش چهارم: حقوق و تکالیف کارفرما (از جمله موارد مسئولیت کیفری کارفرما) </h3>
<h3 dir = "rtl">بخش پنجم: نظارت </h3>
<p dir = "rtl">۱- بهداشت کارگاه و حفاظت فنی کارگران	 <br>	۲- بازرسی کار و نقش وزارت کار <br>
<h3 dir = "rtl">بخش  ششم: حل و فصل اختلافات </h3>
<p dir = "rtl">۱- مراجع رسیدگی به اختلافات بین کارگر و کارفرما (شورای کارگاه، هیأت حل اختلاف، هیأت عالی حل اختلاف) بر اساس قوانین کار موجود.