<div id="footer">
    <p id="links"> <a href="#">Privacy Policy</a> <a href="#">Terms of Use</a> </p>
    <p> <a href="#">Home</a> <a href="#">Practice</a> <a href="#">Attorneys</a> <a href="#">Accidents</a> <a href="#">News</a> <a href="#">About Us</a> <a href="#">Contact Us</a> </p>
    <p>Copyright &copy; 2010 &minus; Lawyer&amp;Attorney &middot; Design: Luka Cvrk, <a href="http://www.solucija.com">Solucija</a> &not; <a href="http://www.lawyermarketinggroup.com/">Law Firm Marketing</a></p>
  </div>
</div>
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div>