<div id="wrapper">
  <div id="header">
    <div id="logo">
      <!<h1><!<a href="#"><!<span><!</span><!</a><!</h1>
    </div>
    <div class="clr"></div>
  </div>
  <div class="content">
    <ul id="menu">
     
      <li><%= link_to "صفحه اصلی",    root_path %></li>
      <li><%= link_to "امور وکالتی",    law_path %></li>
      <li><%= link_to "امور دانشگاهی",    university_path %></li>
      
      <li><%= link_to "اطلاعات تماس",    contact_path %></li>
    </ul>
    <div id="pitch">
      <h1>عباس شهروان  <br>  وکیل پایه یک دادگستری 
                  <br> عضو هیات علمی دانشکده حقوق<br />
        </h1>
      <p><em> </em></p>
    </div>
