<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1><a href="#">Lawyer<span>&amp;</span>Attorney</a></h1>
    </div>
    <div class="clr"></div>
  </div>
  <div class="content">
    <ul id="menu">
      <li><a class="current" href="#">Home</a></li>
      <li><a href="#">Practice</a></li>
      <li><a href="#">Attorneys</a></li>
      <li><a href="#">Accidents</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <div id="pitch">
      <h1>عباس شهروان  <br>  وکیل پایه یک دادگستری 
                  <br> عضو هیات علمی دانشکده حقوق<br />
        </h1>
      <p><em> </em></p>
    </div>
